<!DOCTYPE html>
    <html>
        <head>
            <title>About</title>
            <link rel='icon' href='/img/weather.png'>
            <link rel='stylesheet' href='./css/styles.css'>
            
            
            {{!-- <script src='./js/app.js'></script> --}}
        </head>
        <body>
         <div class='main'>       
        {{>header}}
        <P>This website is created by Deekshiht Podila and the weather data is being provided by mapbox.com and weatherstack.com</P>
        <img class='potrait' src='./img/15.jpg'>
        </div>
        
        {{>footer}}

        </body>
    </html>
